.main {
  width: 100%;

  dl {
    width: 100%;

    .contactListEntry {
      display: flex;
      align-items: center;
      justify-content: space-between;

      dt,
      dd {
        width: min-content;
        margin: 0;
        padding: 0.5em 0;
      }

      dd {
        font-size: small;
      }
    }
  }
}
